        </div>
        <div class="footer">
            <p>&copy; <%= currentYear %> <%= appName %>. All rights reserved.</p>
            <p>If you didn't request this email, please ignore it.</p>
        </div>
    </div>
</body>
</html>